body {background-color: #e5f8f7; margin: 0%;}  /* Cambio de color de fondo para index.html*/
.banner-inicio {color:white; background-color: rgba(0, 0, 0, 0);
     height: 250px;background-position: center bottom; width: 100%; 
     background-image: url(/Imagenes/si.jpeg);background-size: contain; 
     background-position: bottom;background-repeat: no-repeat;background-size: 120%; 
     display: flex;align-items: center;justify-content: center; text-align: center; margin: 0px;}   /*height para el tamaño del banner y with para que ocupe el ancho completo*/

 .titulo_cabeza_gradiente{color:white; background-color: rgba(0, 0, 0, 0);
     height: 200px;background-position: center; width: 100%; 
     background-image: url(/Imagenes/normal.png);background-size: contain;background-repeat: no-repeat;background-size: 120%; 
     display: flex;align-items: center;justify-content: center; text-align: center; margin: 0px;}     /*Cabecera de gradiente*/
/*----------------------------------------------------------------*/
.limite_vv{color:white; background-color: rgba(0, 0, 0, 0);
     height: 250px;background-position: center; width: 100%; 
     background-image: url(/Imagenes/limite_vv.png);background-size: contain;background-repeat: no-repeat;background-size: 100%; 
     display: flex;align-items: center;justify-content: center; text-align: center; margin: 0px;} 

     /*summary para MATEMATICAS PARA INGENIERIA*/
     
summary{    /*Estos son los Summary de matematicas para ingenieria*/
padding: 10px;                                     /*padding es para agregar espacio interno*/
border-radius: 5px;                                /*cusor es para convertir el puntero en mano*/
cursor: pointer;                                   /*fron-weiht es para dejar el texto en negrita*/
font-weight: bold;} 
summary:hover {background-color: rgb(188, 232, 217);}
/*----------------------------------------------------------------*/
 html{scroll-behavior: smooth;}

.Lista-de-calculo {color: green;}  /*Color para listas de calculo avanzado*/

/*------------------------------------------------------------------------*/

.Lista-de-metodos-numericos {color: green;}

/*------------------------------------------------------------------------*/
.Lista-de-algebra-lineal {color: green;}     /*Detalles para lista de algebra lineal*/
/*------------------------------------------------------------------------*/
.unidades-fisicas {color: green;}
/*------------------------------------------------------------------------*/
.lista-ondas{color: green;}
/*------------------------------------------------------------------------*/
.lista-optica{color: green;}
/*------------------------------------------------------------------------*/
.lista-fisica-moderna{color: green;}
/*------------------------------------------------------------------------*/
.lista-termodinamica{color: green; scroll-behavior: smooth;}
/*------------------------------------------------------------------------*/
.mantenimiento{color:green}
/*------------------------------------------------------------------------*/
.Configuración_de_redes{color: green;}